h1{ color: rgb(255, 1, 1);}
.css{color: brown; font-style: italic;}
ol{color:  rgb(177, 57, 57);}
.f{color:  rgb(177, 57, 57);}
.a{ text-decoration: line-through; font-weight: bold;}
.b{background-color: yellow; font-weight: bold;}
.c{ text-decoration: underline; font-weight: bold; font-style: italic;}
.d{ letter-spacing: 0.1cm;}
#a{color: brown;}